
<link rel="stylesheet" href="../description.css">

<div>
<h1 id="page-title">{{butterflyData.name}}</h1>
<div class="pic-and-des">
  <div class="left-panel">
    <div class="image-container"> 
      <img class="tile-img" src="../{{images.[0]}}" alt="morpho" /><br>
      <img class="tile-img2" src="../{{images.[1]}}" alt="morpho" /><br>
      <img class="tile-img3" src="../{{images.[2]}}" alt="morpho" /><br>
    </div>
  </div>

  <div class="mid-panel">
    <p>
     {{butterflyData.desc}}
    </p>
  </div>

  <div class="right-panel">
    <h3 class="h3-title">FOUND IN</h3>
    <p>{{butterflyData.region.regionName}}</p>
    <br />
    <br />
    <h3 class="h3-title">FACT</h3>
    <p>
      {{butterflyData.facts}}
    </p>
  </div>
</div>
<div class="comment-container">
  <input id="comment" type="text" placeholder="Comment" />
  <img id="send" src="../logo.ico" alt="send icon shaped as butterfly">
</div>

<div id="comments-user-containerid">
   {{#each butterflyData.Comments as |comment| }} 
      <div class="comments-user-container" id="c1">
        
        <p class="coment-display">{{comment.comment}}</p> 
        <p class="user-display"> - {{comment.User.username}}</p> 
        {{!-- <img class='delete" src="delete_icon.png" alt="trash can"> --}}
        
    </div>
    {{/each}}
</div>
<script src="../description.js"></script>

</div>
